@import "tailwindcss";

body {
  font-family: "Lato", sans-serif;
}

.sidebar-list{
  @apply hover:bg-[#0D47A1] hover:text-white hover:cursor-pointer p-2 rounded-md flex items-center gap-2 text-[13px];
}
.sidebar-icons{
  @apply h-6;
}
.initials-placeholder{
  @apply bg-blue-800 rounded-[50%] p-[0.26rem] text-white h-8 w-8;
}
.duration-hover{
  @apply hover:bg-blue-500 hover:text-blue-900 hover:cursor-pointer p-1 rounded-md text-[14px];
}